@import "{}/client/styles/overrides.import.less";
@import "{}/client/styles/globals.import.less";
@import "{}/client/styles/mixins.import.less";

.loader-container {
  text-align: center;
  display: table;
  width: 100%;
}

.loader {
  display: table-cell;
  vertical-align: middle;
  height: 100vh;
}

.loader span {
  background: white;
  padding: 20px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.33);
}

.navbar-header p {
  position: absolute;
  font-size: 11px;
  top: 6px;
}

.navbar-brand {
  font-weight: 700;
  background: url(img/logo.jpg) no-repeat;
  background-size: cover;
  display: block;
  min-width: 200px;
  .transition;
}

.navbar-brand:hover {
  opacity: 0.7;
  .transition;
}

.navbar-brand #innerLogo {
  visibility: hidden;
}

i#logoEye.90degCC {
  .90degCC;
}

#viewVR {
  height: 450px;
  background: #d2edf4;
  background-image: linear-gradient(left bottom, darkgrey, grey 100%);
  background-position: center center;
  background-size: cover;
  -webkit-filter: contrast(150%);
          filter: contrast(150%);
}

.vr-iframe {
    overflow:hidden;
    height:100%;
    width:100%;
    border: 0;
}

/*#viewVR.sharp {
  -webkit-animation: goSharp 5s;
          animation: goSharp 5s;
}

@-webkit-keyframes goSharp {
  0% {
    -webkit-filter: contrast(80%);
            filter: contrast(80%);
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}
@keyframes goSharp {
  0% {
    -webkit-filter: contrast(80%);
            filter: contrast(80%);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}*/

/*.homeClip {
  width: 200px;
}*/

/* For the Add New Property Modal */

#addHome {
  /*display: none;*/
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  background: white;
  padding: 100px;
  height: 100%;
}

#addHome .close {
  position: absolute;
  top: 20px; right: 20px;
}

#propDetails {
  /*width: 100px;*/
  background: white;
  /*height: 400px;*/
}

.mapList {
  height: 100%;
  position: fixed;
  overflow: scroll;
  padding-bottom: 100px;
}

.propList {
  background: fade(#eee, 90%);
}

#mainMap {
  background: white;
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translateZ(0px);
}

#viewOptions {
  position: relative;
  bottom: 60px;
}

#viewOptions li button.btn-default {
  /*border-radius: 50%;
  width: 35px;*/
  padding: 6px 8px;
}

.propListTitle {
  margin: 15px 0 10px 0;
}

.propList a {
  color: black;
}

.propList ul li {
  display: table;
  width: 100%;
}

.propList ul li:hover {
  background: white;
  cursor: -webkit-grab;
}

.homePic {
  padding: 10px;
  background-color: #fff;
  background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScyMCcgdmlld0JveD0nMCAwIDUgMTAnPgoJPHJlY3Qgd2lkdGg9JzExMCUnIHg9Jy01JScgeT0nLTUlJyBoZWlnaHQ9JzExMCUnIGZpbGw9JyNmZmYnLz4KCTxsaW5lIHgxPSctMicgeTE9JzEnIHgyPSc3JyB5Mj0nMTAnIHN0cm9rZT0nI2RkZCcgc3Ryb2tlLXdpZHRoPScuNScvPgoJPGxpbmUgeDE9Jy0yJyB5MT0nNicgeDI9JzcnIHkyPScxNScgc3Ryb2tlPScjZGRkJyBzdHJva2Utd2lkdGg9Jy41Jy8+Cgk8bGluZSB4MT0nLTInIHkxPSctNCcgeDI9JzcnIHkyPSc1JyBzdHJva2U9JyNkZGQnIHN0cm9rZS13aWR0aD0nLjUnLz4KPC9zdmc+);
}

a.homeLink {
  /*padding: 15px;*/
}

.new-note {
  background: #eee;
}

.new-note input {
  box-sizing: border-box;
  padding: 10px 25px;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-note input:focus{
  outline: 0;
}

#propTitle {
  position: absolute;
  z-index: 1;
  background: @brand;
  color: white;
  padding: 8.5px 15px;
}

#plaque {
  display: table;
  /* text-align: center; */
  /*padding: 40px;*/
  top: -60px;
  width: 200px
}

#plaque h4 {
  .font3;
  font-weight: 400;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.28);
}

#plaque a {color: @four;.transition;}
#plaque a:hover {color: fade(white, 66%);.transition;}

#plaque #circ {
  background-color: @sky;
  /*background-image: linear-gradient(left top, @brand, @two 140%);*/
  background: -webkit-linear-gradient(-50deg, lighten(@sky, 17%) 10%, @sky 66%, fade(@brand, 66%));
  background: -o-linear-gradient(-50deg, lighten(@sky, 17%) 10%, @sky 66%, fade(@brand, 66%));
  background: -moz-linear-gradient(-50deg, lighten(@sky, 17%) 10%, @sky 66%, fade(@brand, 66%));
  background: linear-gradient(to -50deg, lighten(@sky, 17%) 10%, @sky 66%, fade(@brand, 66));

  color: white;
  border-radius: 50%;
  /*width: 180px;*/
  height: 170px;
  padding: 40px 20px;
  text-align: center;
  display: table-cell;
  border: 1px solid darken(@three, 5%);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.33);
  vertical-align: middle;
}

#roomPics {
  height: 100%;
}

.roomBox {
  /*height: 90px;*/
  background: white;
}

#rooms .roomBox h1,
#rooms .roomBox h2,
#rooms .roomBox h3,
#rooms .roomBox h4,
#rooms .roomBox h5 {
  color: black;
}

#roomPics ul li:hover {
  cursor: -webkit-grab;
}

.roomPic {
  background-size: cover;
  background-color: #fff;
  background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScyMCcgdmlld0JveD0nMCAwIDUgMTAnPgoJPHJlY3Qgd2lkdGg9JzExMCUnIHg9Jy01JScgeT0nLTUlJyBoZWlnaHQ9JzExMCUnIGZpbGw9JyNmZmYnLz4KCTxsaW5lIHgxPSctMicgeTE9JzEnIHgyPSc3JyB5Mj0nMTAnIHN0cm9rZT0nI2RkZCcgc3Ryb2tlLXdpZHRoPScuNScvPgoJPGxpbmUgeDE9Jy0yJyB5MT0nNicgeDI9JzcnIHkyPScxNScgc3Ryb2tlPScjZGRkJyBzdHJva2Utd2lkdGg9Jy41Jy8+Cgk8bGluZSB4MT0nLTInIHkxPSctNCcgeDI9JzcnIHkyPSc1JyBzdHJva2U9JyNkZGQnIHN0cm9rZS13aWR0aD0nLjUnLz4KPC9zdmc+);
  /*height: 90px;*/
}

#addRoomBtn {
  margin: 15px;
  position: absolute;
  top: 0;
  right: 0;
  background: lighten(@brand, 25%);
}

#addRoomBtn a {
  padding: 8.5px 15px;
  display: block;
  color: white;
  .transition;
}

#addRoomBtn a:hover {
  background: lighten(@brand, 20%);
  color: fade(white, 66%);
  text-decoration: none;
  .transition;
}

#addRoom {
  /*display: none;*/
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  background: white;
  padding: 100px;
  height: 100%;
}

#addRoom .close {
  position: absolute;
  top: 20px; right: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

img {
    .homeBox:hover &,
    .roomBox:hover & {
        -webkit-user-drag: none;
    }
}

.edit, .delete {
    display: none;

    .homeBox:hover &, .roomBox:hover & {
        display: inline;
    }
}

.delete {
  position: absolute;
  top: 10px; right: 10px;
  z-index: 1;
}

.edit {
  position: absolute;
  top: 35px;
  right: 10px;
  z-index: 1;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

.aboutPage {
  height: 100%;
  .brandGradientLight;
  display: table;
  width: 100%;
  padding: 0 25%;
}

.aboutPage .aboutContent {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-size: 22px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-note input {
    padding-bottom: 5px;
  }
}

.queen {
    padding-left: 0;

    img {
        height: 15px;
        width: 24px;
    }
}