@import "{}/client/styles/overrides.import.less";
@import "{}/client/styles/globals.import.less";
@import "{}/client/styles/mixins.import.less";

.navbar-header p {
  position: absolute;
  font-size: 11px;
  top: 6px;
}

.navbar-brand {
  font-weight: 700;
  background: url(img/logo.jpg) no-repeat;
  background-size: cover;
  display: block;
  min-width: 200px;
}

.navbar-brand:hover {opacity: 0.7;}

.navbar-brand #innerLogo {
  visibility: hidden;
}

i#logoEye.90degCC {
  .90degCC;
}

#viewVR {
  height: 450px;
  background: #d2edf4;
  background-image: linear-gradient(left bottom, darkgrey, grey 100%);
  background-position: center center;
  background-size: cover;
  -webkit-filter: contrast(150%);
          filter: contrast(150%);
}

.vr-iframe {
    overflow:hidden;
    height:100%;
    width:100%;
    border: 0;
}

/*#viewVR.sharp {
  -webkit-animation: goSharp 5s;
          animation: goSharp 5s;
}

@-webkit-keyframes goSharp {
  0% {
    -webkit-filter: contrast(80%);
            filter: contrast(80%);
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}
@keyframes goSharp {
  0% {
    -webkit-filter: contrast(80%);
            filter: contrast(80%);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}*/

/*.homeClip {
  width: 200px;
}*/

#propDetails {
    /*width: 100px;*/
    background: white;
    /*height: 400px;*/
}

.addForm {
  padding: 15px;
}

.propList ul li {
  display: table;
  width: 100%;
}

.propList ul li:hover {
  background: lighten(@brand, 50%);
  color: white
}

.homePic {
  padding: 10px;
}

a.homeLink {
  /*padding: 15px;*/
}

.new-note {
  background: #eee;
}

.new-note input {
  box-sizing: border-box;
  padding: 10px 25px;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-note input:focus{
  outline: 0;
}

#placque {
  display: flex;
  /* text-align: center; */
  padding: 40px;
}

#placque a {color: white;}
#placque a:hover {color: fade(white, 66%);}

.roomBox {
  /*height: 90px;*/
  background: white;
}

.roomPic {
  background-size: cover;
  height: 90px;
}

#placque #circ {
  background: @sky;
  color: white;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  padding: 40px;
  text-align: center;
  display: table-cell;
  border: 1px solid darken(@three, 5%);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.33);
}

#addRoomBtn {
  margin: 8px;
  position: absolute;
  top: 0;
  right: 0;
  background: lighten(@three, 25%);
}

#addRoomBtn a {
  padding: 10px 25px;
  display: block;
  color: white;
}

#addRoomBtn a:hover {
  background: @three;
  color: fade(white, 66%);
  text-decoration: none;
}

#addRoom {
  /*display: none;*/
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  background: white;
  padding: 100px;
  height: 100vh;
}

#addRoom .close {
  position: absolute;
  top: 20px; right: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

.delete {
  position: absolute;
  top: 10px; right: 10px;
  z-index: 1;
}

.edit {
  position: absolute;
  top: 35px;
  right: 10px;
  z-index: 1;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

#mainMap {
	background: white;
	width: 100%;
	height: 400px;
}

#viewOptions li button.btn-default {
  border-radius: 50%;
  width: 35px;
  padding: 6px 8px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-note input {
    padding-bottom: 5px;
  }
}